# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. Daniel Faria

### Grupo 37
<dl>
    <dt>12 horas (35.3%)</dt>
    <dd>ist1103131 Joana Marques</dd>
    <dt>10 horas (29.4%)</dt>
    <dd>ist1103890 David Nunes</dd>
    <dt>12 horas (35.3%)</dt>
    <dd>ist1103145 Nathaniel Prazeres</dd>
<dl>

# Empresa de comércio online

## 1 Conversão E-A para Modelo Relacional

Recorde a notação para o Modelo Relacional exposta nas aulas teóricas como se segue:

- relacaoA (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)
- relacaoB (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)

1. As relações são expressas por um nome seguido dos atributos entre parêntesis;
    - As chave primárias são expressas sublinhando os atributos que a compõem;
    - As chaves estrangeiras para outras relações são expressas através da lista de atributos que a compõem, seguida de “: FK(RelacaoDestino)”. A ordem dos atributos que compõem a FK deve corresponder à ordem dos atributos da chave na relação destino;
    - As chaves candidatas são expressas através da expressão “unique”, seguida da lista de atributos que a compõem entre parêntesis;
    - As restrições de integridade ao Modelo Relacional são descritas em termos dos conceitos deste modelo.

### 1.1 Modelo Relacional com Restrições de Integridade

1. Desenvolva um Modelo Relacional correspondente ao modelo Entidade-Associação;
2. Complemente a seu Modelo Relacional com um conjunto de Restrições de Integridade que represente o modelo E-A apresentado com a maior fidelidade.

- Workplace (<u>address</u>, lat, long, type)
    - type: Warehouse or Office
    - unique((lat, long))
    - IC-5
- Department (<u>name</u>)
- Employee (<u>ssn</u>, TIN, bdate, name)
    - unique(TIN)
    - IC-4
- Works (emp_ssn, dep_name, work_address)
    - emp_ssn: FK(Employee)
    - dep_name: FK(Department)
    - work_address: FK(Workplace)
- Supplier (<u>TIN</u>, address, name)
- Product (<u>sku</u>, name, price, description, sup_TIN, stock)
    - sup_TIN: FK(Supplier)
    - IC-2
- EAN Product (<u>sku</u>, ean)
    - sku: FK(Product)
    - unique(ean)
- Supply-Contract (<u>TIN</u>, <u>sku</u>, date)
    - TIN: FK(Supplier)
    - sku: FK(Product)
    - IC-4
- Customer (<u>cust_no</u>, address, name, email, phone)
    - unique(email, phone)
    - IC-3
- Order (<u>order_no</u>, cust_no, emp_ssn, date, state)
    - cust_no: FK(Customer)
    - emp_ssn: FK(Employee)
    - IC-1
    - IC-2
- Contains (<u>order_no</u>, <u>sku</u>, qty)
    - order_no: FK(Order)
    - sku: FK(Product)

### 1.2 Restrições de Integridade não passíveis de conversão

Identifique todas as Restrições de Integridade do modelo Entidade-Associação apresentado que não são passíveis de conversão para o modelo relacional.

IC-1: Customers can only pay for orders that they placed

IC-2: state must be a boolean variable that, when true, means that the order has become a sale.

IC-3: email must be unique

IC-4: TIN must be unique

IC-5: lat and long pairs must be unique

## 2 Algebra Relacional

Recorde a notação exposta nas aulas teóricas como se segue:

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

#### Simbolos
- $\cup$ union 			
- $\cap$ intersection 		
- $-$ difference 		
- $\times$ cartesian product 
- $\div$ division 			
- $\rho$ rename 			
- $\bowtie$ natural join 		
- $\wedge$ Logical AND 	
- $\vee$ Logical OR 	
- $\neg$ Logical NOT 	

Considerando o modelo relacional desenvolvido, apresente as expressões algébricas correspondentes a cada uma das seguintes interrogações:

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

$\Pi_{Costumer.name} \big( \sigma_{EXTRACT(YEAR \space FROM \space Order.date)=2023 \space \wedge \space Product.price>50} (Order \bowtie Custumer \bowtie Contains \bowtie Product) \big)$

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

$\Pi_{Employee.name} \bigg(\big( \sigma_{Workplace.type='Warehouse'} \wedge \sigma_{EXTRACT(YEAR \space FROM \space Order.date)=2023}\wedge \sigma_{EXTRACT(MONTH \space FROM \space Order.date)=1} (Workplace \bowtie Employee \bowtie Order) \big) - \big( \sigma_{Workplace.type='Office'} (Workplace \bowtie Employee \bowtie Order) \big) \bigg)$

3. Indique o nome do produto mais vendido;

$\Pi_{\text{Product.name}}\bigg(\text{Product} \bowtie \bigg(\gamma_{\text{Contains.sku}, \text{total\_quantity} = \text{SUM}(Contains.qty)}\bigg(\sigma_{\text{Order.state} = \text{TRUE}}(\text{Contains} \bowtie \text{Order})\bigg)\bigg)\bigg)$

4. Indique o valor total de cada venda realizada.

$\Pi_{\text{Order.order\_no}, \text{total\_value}}\bigg(\gamma_{\text{Order.order\_no}, \text{total\_value} = \text{SUM}(Product.price * Contains.qty)}\bigg(\sigma_{\text{Order.state} = \text{TRUE}}(\text{Order} \bowtie \text{Contains} \bowtie \text{Product})\bigg)\bigg)$

## 3 Tradução do Modelo Relacional para SQL

### 3.1 Esquema Relacional (schema.sql)

Crie uma base de dados SQL correspondente ao esquema Relacional desenvolvido no ponto anterior.
Utilizando a linguagem SQL (DDL), apresente as instruções para criar o esquema de bases de dados correspondente ao modelo relacional desenvolvido. Deve certificar-se de que os tipos de dados e tamanhos de campo selecionados sejam os mais apropriados. As restrições aplicáveis a cada campo, linha e tabela também devem ser especificadas recorrendo às instruções NOT NULL, CHECK, PRIMARY KEY, UNIQUE e FOREIGN KEY conforme seja apropriado.


Nota: Apresente todas as restrições existentes no modelo Relacional que não podem ser capturadas (implementadas) no esquema SQL, escrevendo-as como comentários na tabela respectiva.

In [1]:
%load_ext sql
%sql postgresql://db:db@postgres/db

In [2]:
%%sql
-- schema.sql

-- drop the tables if they already exist

DROP TABLE IF EXISTS "Order" CASCADE;

DROP TABLE IF EXISTS "Contains" CASCADE;

DROP TABLE IF EXISTS "Supply_Contract" CASCADE;

DROP TABLE IF EXISTS "Customer" CASCADE;

DROP TABLE IF EXISTS "EAN_Product" CASCADE;

DROP TABLE IF EXISTS "Product" CASCADE;

DROP TABLE IF EXISTS "Employee" CASCADE;

DROP TABLE IF EXISTS "Department" CASCADE;

DROP TABLE IF EXISTS "Workplace" CASCADE;

DROP TABLE IF EXISTS "Supplier" CASCADE;

DROP TABLE IF EXISTS "Works" CASCADE;

-- create the tables

CREATE TABLE "Workplace" (
  address VARCHAR(255) PRIMARY KEY,
  lat DECIMAL(9,6),
  long DECIMAL(9,6),
  type VARCHAR(10) -- "Warehouse" or "Office"
);

CREATE TABLE "Department" (
  name VARCHAR(255) PRIMARY KEY
);

CREATE TABLE "Employee" (
  ssn VARCHAR(255) PRIMARY KEY,
  TIN VARCHAR(255),
  bdate DATE,
  name VARCHAR(255)
);

CREATE TABLE "Works" (
  emp_ssn VARCHAR(255),
  dep_name VARCHAR(255),
  work_address VARCHAR(255),
  FOREIGN KEY (emp_ssn) REFERENCES "Employee" (ssn),
  FOREIGN KEY (dep_name) REFERENCES "Department" (name),
  FOREIGN KEY (work_address) REFERENCES "Workplace" (address)
);

CREATE TABLE "Supplier" (
  TIN VARCHAR(255) PRIMARY KEY,
  address VARCHAR(255),
  name VARCHAR(255)
);

CREATE TABLE "Product" (
  sku VARCHAR(255) PRIMARY KEY,
  name VARCHAR(255),
  price DECIMAL(10,2),
  description VARCHAR(255),
  sup_TIN VARCHAR(255),
  stock INT,
  FOREIGN KEY (sup_TIN) REFERENCES "Supplier" (TIN)
);

CREATE TABLE "EAN_Product" (
  sku VARCHAR(255),
  ean VARCHAR(255),
  PRIMARY KEY (sku, ean),
  FOREIGN KEY (sku) REFERENCES "Product" (sku)
);

CREATE TABLE "Supply_Contract" (
  TIN VARCHAR(255),
  sku VARCHAR(255),
  date DATE,
  PRIMARY KEY (TIN, sku),
  FOREIGN KEY (TIN) REFERENCES "Supplier" (TIN),
  FOREIGN KEY (sku) REFERENCES "Product" (sku)
);

CREATE TABLE "Customer" (
  cust_no VARCHAR(255) PRIMARY KEY,
  address VARCHAR(255),
  name VARCHAR(255),
  email VARCHAR(255),
  phone VARCHAR(255),
  UNIQUE (email)
);

CREATE TABLE "Order" (
  order_no VARCHAR(255) PRIMARY KEY,
  cust_no VARCHAR(255),
  date DATE,
  emp_ssn VARCHAR(255),
  state BOOLEAN, -- if True, it represents a sale
  FOREIGN KEY (cust_no) REFERENCES "Customer" (cust_no),
  FOREIGN KEY (emp_ssn) REFERENCES "Employee" (ssn)
);

CREATE TABLE "Contains" (
  order_no VARCHAR(255),
  sku VARCHAR(255),
  qty INT,
  FOREIGN KEY (order_no) REFERENCES "Order" (order_no),
  FOREIGN KEY (sku) REFERENCES "Product" (sku)
);

Traceback (most recent call last):
  File "/home/joana/.local/lib/python3.10/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "/home/joana/.local/lib/python3.10/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### 3.2 Carregamento da Base de Dados

Crie um script SQL (DML) com todas as instruções INSERT necessárias para criar alguns dados de teste sintéticos para facilitar a validação dos resultados esperados das consultas (lembre-se de que cada tabela deve conter pelo menos uma linha e que todas as consulta têm de retornar um resultado não vazio).

In [ ]:
%%sql
-- populate.sql

-- insert dummy info into the tables

INSERT INTO "Workplace" (address, lat, long, type)
VALUES
  ('Address 1', 12.345678, -98.765432, 'Warehouse'),
  ('Address 2', 23.456789, -87.654321, 'Office'),
  ('Address 3', 34.567890, -76.543210, 'Warehouse');

INSERT INTO "Department" (name)
VALUES
  ('Department 1'),
  ('Department 2'),
  ('Department 3');

INSERT INTO "Employee" (ssn, TIN, bdate, name)
VALUES
  ('SSN1', 'TIN1', '1990-01-01', 'John Doe'),
  ('SSN2', 'TIN2', '1991-02-02', 'Jane Smith'),
  ('SSN3', 'TIN3', '1992-03-03', 'Bob Johnson');

INSERT INTO "Works" (emp_ssn, dep_name, work_address)
VALUES 
  ('SSN1', 'Department 1', 'Address 1'),
  ('SSN1', 'Department 2', 'Address 2'),
  ('SSN2', 'Department 2', 'Address 2'),
  ('SSN3', 'Department 3', 'Address 3');

INSERT INTO "Supplier" (TIN, address, name)
VALUES
  ('TIN1', 'Supplier Address 1', 'Supplier 1'),
  ('TIN2', 'Supplier Address 2', 'Supplier 2'),
  ('TIN3', 'Supplier Address 3', 'Supplier 3');

INSERT INTO "Product" (sku, name, price, description, sup_TIN, stock)
VALUES
  ('SKU1', 'Product 1', 10.99, 'Description 1', 'TIN1', 100),
  ('SKU2', 'Product 2', 19.99, 'Description 2', 'TIN2', 50),
  ('SKU3', 'Product 3', 8.99, 'Description 3', 'TIN3', 200),
  ('SKU4', 'Product 4', 50.99, 'Description 4', 'TIN1', 100);

INSERT INTO "EAN_Product" (sku, ean)
VALUES
  ('SKU1', 'EAN1'),
  ('SKU2', 'EAN2'),
  ('SKU3', 'EAN3');

INSERT INTO "Supply_Contract" (TIN, sku, date)
VALUES
  ('TIN1', 'SKU1', '2023-01-01'),
  ('TIN2', 'SKU2', '2023-02-02'),
  ('TIN3', 'SKU3', '2023-03-03'),
  ('TIN1', 'SKU4', '2023-04-04');

INSERT INTO "Customer" (cust_no, address, name, email, phone)
VALUES
  ('Customer1', 'Customer Address 1', 'Carlos Alberto', 'carlosalberto19@example.com', '1234567890'),
  ('Customer2', 'Customer Address 2', 'José de Ramos Almeida', 'ramosJoseee@example.com', '9876543210'),
  ('Customer3', 'Customer Address 3', 'Amélia Rosário', 'amelia007@example.com', '5555555555');

INSERT INTO "Order" (order_no, cust_no, date, emp_ssn, state)
VALUES
  ('Order1', 'Customer1', '2023-01-01', 'SSN1', TRUE), -- this is a sale
  ('Order2', 'Customer2', '2023-02-02', 'SSN2', TRUE), -- this is also a sale
  ('Order3', 'Customer3', '2023-01-01', 'SSN3', FALSE), -- this is a not yet sold order
  ('Order4', 'Customer1', '2023-04-04', 'SSN1', FALSE),
  ('Order5', 'Customer2', '2023-05-05', 'SSN2', FALSE);

INSERT INTO "Contains" (order_no, sku, qty)
VALUES
  ('Order1', 'SKU1', 5),
  ('Order2', 'SKU2', 10),
  ('Order3', 'SKU3', 3),
  ('Order4', 'SKU4', 1),
  ('Order5', 'SKU4', 2),
  ('Order5', 'SKU3', 1);

## 4 Linguagem SQL

Apresente a expressão SQL correspondente  a cada uma das interrogações de Álgebra Relacional.

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

In [ ]:
%%sql

SELECT DISTINCT "Customer".name
FROM "Order"
JOIN "Customer" ON "Order".cust_no = "Customer".cust_no
JOIN "Contains" ON "Order".order_no = "Contains".order_no
JOIN "Product" ON "Contains".sku = "Product".sku
WHERE EXTRACT(YEAR FROM "Order".date) = 2023
    AND "Product".price > 50;

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

In [ ]:
%%sql

SELECT DISTINCT "Employee".name
FROM "Employee"
JOIN "Works" ON "Employee".ssn = "Works".emp_ssn
JOIN "Workplace" ON "Works".work_address = "Workplace".address
JOIN "Order" ON "Employee".ssn = "Order".emp_ssn
WHERE "Workplace".type = 'Warehouse'
  AND EXTRACT(MONTH FROM "Order".date) = 1
  AND EXTRACT(YEAR FROM "Order".date) = 2023
  AND "Employee".ssn NOT IN (
    SELECT "emp_ssn"
    FROM "Works"
    JOIN "Workplace" ON "Works".work_address = "Workplace".address
    WHERE "Workplace".type = 'Office'
  );

3. Indique o nome do produto mais vendido;

In [ ]:
%%sql

SELECT "Product".name
FROM "Product"
JOIN (
    SELECT "Contains".sku, SUM("Contains".qty) AS total_quantity
    FROM "Contains"
    JOIN "Order" ON "Contains".order_no = "Order".order_no
    WHERE "Order".state = TRUE
    GROUP BY "Contains".sku
    ORDER BY total_quantity DESC
    LIMIT 1
) AS "best_selling" ON "Product".sku = "best_selling".sku;

4. Indique o valor total de cada venda realizada.

In [ ]:
%%sql

SELECT "Order".order_no, SUM("Product".price * "Contains".qty) AS total_value
FROM "Order"
JOIN "Contains" ON "Order".order_no = "Contains".order_no
JOIN "Product" ON "Contains".sku = "Product".sku
WHERE "Order".state = TRUE
GROUP BY "Order".order_no;